/* STYLES FOR THE BOXY PEDAL */

@import url(/fonts/nexa/stylesheet.css);
@import url(/fonts/questrial/stylesheet.css);

.mod-pedal{{{cns}}} section.reverse {
    margin-left: 16px;
    margin-top: -64px;
    align-self: center;
}

.mod-pedal{{{cns}}} section.knobs {
    margin-top: -64px;
    margin-left: 24px;
    display: flex;
    flex-direction: row;
    width: 280px;
    gap: 20px;
    height: 120px;
    align-self: center;
}

.mod-pedal{{{cns}}} section.output {
    margin-left: 40px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.mod-pedal{{{cns}}} .column {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.mod-pedal{{{cns}}} .mod-knob.mix {
    align-self: baseline;
}

.mod-pedal{{{cns}}} .logo {
    align-self: end;
}

/* = CONTAINER
================================================ */
.mod-pedal{{{cns}}} {
    text-align:center;
    letter-spacing: 0.012rem;
    line-height: 1.1;
    padding: 16px 16px;
    background-image:url(/resources/assets/background.png{{{ns}}});
    background-position:center center;
    background-repeat:no-repeat;
    background-size:560px 320px;
    height:320px;
    position:absolute;
    width:560px;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    color: white;
}

/* PORTS
================================================ */

.mod-pedal{{{cns}}} .mod-pedal-input,
.mod-pedal{{{cns}}} .mod-pedal-output {
    transform: translate(0, -50%);
    top: 50%;
}

/* = PLUGIN'S AUTHOR
================================================ */
.mod-pedal{{{cns}}} .mod-plugin-brand {
    text-align:center;
    text-transform:uppercase;
}

.mod-pedal{{{cns}}} .mod-plugin-brand h1 {
    border-color:#000;
    border-radius:16px;
    border: 3px solid #4b7cbd;
    display:inline-block;
    font-family:"Nexa";
    font-weight: 700;
    font-size:23px;
    line-height:1;
    padding:6px 8px 4px;
    margin: 0px;
}

/* = PLUGIN'S NAME
================================================ */
.mod-pedal{{{cns}}} .mod-plugin-name {
    overflow:hidden;
    text-align:center;
}

.mod-pedal{{{cns}}} .mod-plugin-name h1 {
    font-family:"Questrial";
    font-size:17px;
    line-height:1;
    margin: 0px
}

/* = FOOTSWITCH
================================================ */
.mod-pedal{{{cns}}} .mod-footswitch-container {
    position: relative;
}

.mod-pedal{{{cns}}} .mod-footswitch {
    position: relative;
    background-image:url(/resources/assets/footswitch.png{{{ns}}});
    background-position:bottom center;
    background-repeat:no-repeat;
    background-size:auto 132px;
    cursor:pointer;
    height:66px;
    width:66px;
    margin:auto;
}
.mod-pedal{{{cns}}} .mod-footswitch.on {
    background-position-y: top !important
}

.mod-pedal{{{cns}}} .power-on-background {
    position: absolute;
    background-color: white;
    width:48px;
    height:24px;
    content: "";
    bottom: 16px;
    border-radius: 4px;
    padding: 0px 4px;
    transform: translate(-50%, 0);
    left: 0;
}

.mod-pedal{{{cns}}} .power-on-background > .mod-light {
    background-position:center center;
    background-repeat:no-repeat;
    background-size:24px 24px;
    height:24px;
    width:24px;
}

/* = TOGGLE
================================================ */
.mod-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mod-pedal{{{cns}}} .mod-toggle-image {
    background-image:url(/resources/assets/toggle.png{{{ns}}});
    background-position:bottom center !important;
    background-repeat:no-repeat;
    background-size:33px 96px;
    cursor:pointer;
    width: 33px;
    height:48px;
}

.mod-pedal{{{cns}}} .mod-light-container.vertical > .mod-toggle-image {
    transform: rotate(-90deg);
}

.mod-pedal{{{cns}}} .mod-toggle-image.on {
    background-position-y: top !important;
}

.mod-pedal{{{cns}}} .mod-light-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.mod-pedal{{{cns}}} .mod-light-container.vertical {
    transform: rotate(90deg);
    margin-bottom: 12px;
}

.mod-pedal{{{cns}}} .mod-light-container::before {
    position: absolute;
    width: 40px;
    height: 20px;
    left: 0px;
    background-color: white;
    border-radius: 4px;
    content: "";
    z-index: -1;
}

.mod-pedal{{{cns}}} .mod-light:has(+ .mod-toggle-image) {
    background-image:url(/resources/assets/red-light-off.png{{{ns}}});
    background-position:center center;
    background-repeat:no-repeat;
    background-size:20px 20px;
    height:20px;
    width:20px;
}

.mod-pedal{{{cns}}} .mod-light:has(+ .mod-toggle-image.on) {
    background-image:url(/resources/assets/red-light-on.png{{{ns}}});
}

/* = KNOBS
================================================ */
.mod-pedal{{{cns}}} .mod-knob {
    display:flex;
    flex-direction: column;
    gap: 4px;
}

.mod-pedal{{{cns}}} .mod-knob > .mod-knob-image {
    background-image:url(/resources/assets/steel-knob.png{{{ns}}});
    background-repeat:no-repeat;
    background-size:auto 60px;
    height:60px;
    width:60px;
    margin:0 auto;
}

/* = PARAMETER TITLE
================================================ */
.mod-pedal{{{cns}}} div.mod-param-title {
    font-size:11px;
    font-weight:bold;
    width: 60px;
    text-transform:uppercase;
}