label {
  font-size: 14px;
  color: #c2c2c2;
}

knob {
  width: 40px;
  height: 40px;
}

knob .track {
  background-color: #ffb74d;
}

textbox {
  font-size: 14px;
  width: 72px;
  color: #c2c2c2;
  background-color: transparent;
  border-width: 0px;
  outline-color: none;
}

textbox:focus {
  background-color: #6d6d6d;
  border-width: 0px;
  outline-color: none;
}

textbox:hover {
  background-color: transparent;
  border-width: 0px;
  outline-color: none;
}

textbox:focus,
textbox:hover {
  background-color: #6d6d6d;
  border-width: 0px;
  outline-color: none;
}
