label {
  font-size: 14px;
  color: #E1D9D1;
}

knob {
  width: 40px;
  height: 40px;
}

knob .knob-track {
  color: #ffb433;
  background-color: #363636;
}

knob .knob-head {
  display: none;
}

checkbox {
  width: 28px;
  height: 28px;
  border-radius: 2px;
  border-width: 0px;
  background-color: #363636;
  top: 10px;
}

checkbox:hover {
  background-color: #E1D9D1;
}

textbox {
  font-size: 12px;
  width: 72px;
  color: #E1D9D1;
  background-color: transparent;
  border-width: 0px;
  outline-color: none;
  child-space: 1s;
}

textbox:hover {
  background-color: transparent;
  border-width: 0px;
  outline-color: none;
}

.hide {
  display: none;
}